//字体定义规范
$font-size-small-s =10px
$font-size-small =12px
$font-size-medium =14px
$font-size-medium-x =16px
$font-size-large =18px
$font-size-large-x =22px
$font-weight-blod = 550

//颜色定义规范
$color-text-f = #fff
$color-banckground = #871654


//间距
$padding-small-s = 8px
$padding-small = 15px
$main-padding = 12px 10px 20px